.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 5;
  left: 0;
  right: 0;
  position: fixed;
}
.BackGroundImg {
  background-image: url("../../../assets/Images/background/mapBackground.jpg");
  background-size: contain;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100vw;
  height: 100vh;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
@media (min-width: 500px) {
  .BackGroundImg {
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
  }
}
