@media (min-width: 300px) {
  .LogoImg {
    width: 13vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@media (min-width: 400px) {
  .LogoImg {
    width: 10vw;
  }
}
@media (min-width: 500px) {
  .LogoImg {
    width: 8vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}
@media (min-width: 700px) {
  .LogoImg {
    width: 6vw;
  }
}
@media (min-width: 1020px) {
  .LogoImg {
    width: 5vw;
  }
}
@media (min-width: 1200px) {
  .LogoImg {
    width: 4.5vw;
  }
}
@media (min-width: 1440px) {
  .LogoImg {
    width: 3.5vw;
  }
}
