@media (min-width: 320px) {
  .Container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 5;
    left: 0;
    right: 0;
    position: absolute;
    overflow-y: scroll;
  }
  .Form {
    text-align: center;
    margin: 0 auto;
    font: 2rem;
    width: fit-content;
    color: #313638;
    letter-spacing: 0.15rem;
    background-color: rgba(132, 125, 133, 0.6);
    font-family: "Oswald", sans-serif;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  .InputForms {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 400px) {
  .Form {
    margin-top: 13vh;
    flex-direction: column;
  }
  .Inputs {
    margin: 10px;
  }
}
@media (min-width: 500px) {
  .Form {
    margin-top: 15vh;
  }
  .Inputs {
    margin: 10px;
  }
}
@media (min-width: 768px) {
  .Form {
    background-color: rgba(197, 191, 197, 0.8);

    font: 2rem;
    margin-top: 13vh;
    flex-direction: row;
  }
  .Inputs {
    margin: 14px;
  }
}

@media (min-width: 1024px) {
  .Form {
    font: 2rem;
    margin-top: 0vh;
  }
  .Inputs {
    margin: 20px;
  }
}

@media (min-width: 1440px) {
  .Form {
    width: 35vw;
    font: 2rem;
  }
}
