/*.CustomFileUpload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.CustomFileInput[type="file"] {
  display: none;
}*/

*,
::before,
::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.FileUpload {
  display: flex;
  border: 5px solid;
  padding-bottom: 5px;
  background-color: whitesmoke;
}

.Login {
  display: grid;
  grid-template-columns: 100%;
  height: 100vh;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Login_forms {
  position: relative;
  height: 358px;
}
.Login_Register {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
}

.Login_title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.Login_box {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.Login_icon {
  font-size: 1.5rem;
  color: #4b51ff;
}

.Login_input {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.938rem;
  font-weight: 700;
  color: #0a0016;
}
.Login_input::placeholder {
  font-size: 0.938rem;
  font-family: "Montserrat", sans-serif;
  color: #a49eac;
}

.Login_forgot {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-top: 0.5rem;
  font-size: 600;
  color: #350000;
}

.Login_account,
.Login_signin,
.Login_signup {
  font-weight: 600;
  font-size: 0.813rem;
}
.Login_account {
  color: #23004d;
}

.Login_signin,
.Login_signup {
  color: #4b51ff;
  cursor: pointer;
  padding-left: 0.4rem;
}

.Login_button {
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: #9d4bff;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.Login_button:hover {
  background-color: #23004d;
}

@media (min-width: 300px) {
  .Login_forms {
    width: min-content;
    justify-content: center;
  }
  .FileUpload {
    padding: 1.1rem 0.3rem;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border-color: white;
  }
}

@media (min-width: 500px) {
  .Login_forms {
    margin-top: 55vh;
  }
}

@media (min-width: 600px) {
  .Login_forms {
    margin-top: 0vh;
  }
  .FileUpload {
    padding: 1.125rem 1rem;
  }
}

@media (min-width: 1024px) {
  .Login_Register {
    left: -11rem;
  }
}
