.Container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 300px) {
  .Img {
    width: 27vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 426px) {
}

@media (min-width: 700px) {
  .Img {
    width: 21vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 1020px) {
  .Img {
    width: 16vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
@media (min-width: 1200px) {
  .Img {
    width: 8vw;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
  }
}
@media (min-width: 1440px) {
  .Img {
    width: 12vw;
  }
}
