.Box {
  width: 100%;
  background-color: honeydew;
  border-radius: 2px;
  line-break: strict;
  flex-flow: wrap;
  padding: 0px 5px 5px 5px;
  font-family: "Montserrat", sans-serif;
}

.Box:hover {
  box-shadow: 0px 1px 6px #bbbbbb;
  opacity: 0.8 grey;
  transition: 0.2s;
  transform: translate(1px, -5px);
}
