.Button {
  padding: 3px;
  letter-spacing: 1px;
  width: fit-content;
  background-color: #1e1eda;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  margin: 8px;
}
.Button.Danger {
  color: red;
}
